html, body {
  max-width: 1377px;
  max-height: 765px;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  padding-top: calc((50% - 765px) / 2);
  padding-left: calc((100% - 1377px) / 2);
}

body {
  margin: 0 auto;
}

.main-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

aside {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  width: 400px;
  height: auto;
}
h1 {
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin: 40px 15px 15px 15px;
}

h2 {
  font-size: 18px;
  margin: 15px;
  font-family: 'BioRhyme', serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  margin: 15px;
  font-family: 'BioRhyme', serif;
  text-align: justify;
}
img {
  margin: 15px;
}

canvas {
  margin-right: 45px;
  margin-bottom: 15px;
  height: 720px;
  width: 900px;
  font-family: 'Bungee Shade', cursive;
}

.links {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.links img {
  height: 50px;
  width: 50px;
}

audio {
  display: none;
  margin: 0 auto;
}

.audio-controls {
  transform: translateX(1140px) translateY(-20px);
  font-family: 'BioRhyme', serif;
  font-size: 18px;
  width: 220px;

}




/* body.dark-mode {
  filter: invert(100%);
  background-color: black;
}

body.dark-mode a {
    color: black;

}
body.dark-mode button {
    background-color: white;
}

body.light-mode a {
  color: white;
}

body.light-mode button {
  background-color: black;
} */
