html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.main-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

aside {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  width: 400px;
  height: auto;
}
h1 {
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin: 40px 15px 15px 15px;
}

h2 {
  font-size: 18px;
  margin: 15px;
  font-family: 'BioRhyme', serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  margin: 15px;
  font-family: 'BioRhyme', serif;
  text-align: justify;
}
img {
  margin: 15px;
}

canvas {
  margin-right: 45px;
  margin-bottom: 15px;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

.links {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.links img {
  height: 50px;
  width: 50px;
}

audio {
  display: none;
  margin: 0 auto;
}

.audio-controls {
  transform: translateX(1140px) translateY(-25px);
  font-family: 'BioRhyme', serif;
  font-size: 18px;
  width: 220px;

}

body {
    filter: invert(100%);
    background-color: black;

    width: 100%;
}
